.class
**/target/**
**idea**
/api-user/target/
/api-car/target/
/configserver/target/
/eureka/target/
/zuulone/target/
/zuultwo/target/
/gateway/target/
/entity/target/
/shared/target/
/dao/target/
/service/target/
/api-bike/target/
/oauth2/target/
